<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4" style="width: 400px;">
    <h1 class="text-center mb-3">Login</h1>

    <form [formGroup]="form" (ngSubmit)=" onSubmit()">

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" required/>
      </div>

      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" formControlName="senha" required>
      </div>

      <button type="submit" class="btn btn-primary w-100 my-2">

        @if (loading) {
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        } @else {
          Entrar
        }
      </button>

      @if (erroLogin) {
        <div class="alert alert-danger mt-3">
          Email ou senha inválidos.
        </div>
      }
      @if (mensagemSucesso) {
        <div class="alert alert-success mt-3 text-center">{{ mensagemSucesso }}</div>
      }
      <p class="mt-3 text-center">
        Ainda não tem conta? <a routerLink="/auto-cadastro">Cadastre-se aqui</a>
      </p>
    </form>
  </div>
</div>
